{% extends "layout.html" %}

{% block title %} Edit Ques {% endblock %}

{% block content %}

<h4>Edit your Question details here:</h4>
<br>

<form method="POST" action="{{ url_for('main.update', id=c.id) }}">

    <label>Enter the platform name here</label><br>
    <input type="text" name="platform" value="{{ c.platform.name }}">
    <br>

    <label>Enter the question number here</label><br>
    <input type="text" name="ques_no" value="{{ c.ques_no }}" required>
    <br>

    <label>Enter the question rating here</label><br>
    <input type="text" name="rating" value="{{ c.rating }}">
    <br>
    <label> Difficulty </label>
        <select name="difficulty">

            <option value="">Select Difficulty</option>
            <option value="Easy" {% if c.difficulty == "Easy" %} selected {% endif %}>Easy</option>
            <option value="Medium" {% if c.difficulty == "Medium" %} selected {% endif %} >Medium</option>
            <option value="Hard" {% if c.difficulty == "Hard" %} selected {% endif %}>Hard</option>

        </select>
    <button type="submit" class="button">Update 👌</button>

</form>

{% endblock %}