{% extends "layout.html" %}

{% block title %} Problem Tracker {% endblock %}
{% block content %}
<h2>📊 Problem Tracker</h2>
<p style="color: #555;">Track your competitive programming journey.</p>

<h3> My problems : </h3>

<form method="GET" style="margin-bottom:20px;">

    <input 
        type="text"
        name="search"
        placeholder="Search question number..."
        value="{{ search_query }}"
    >

    <select name="platform">

        <option value="">All Platforms</option>

        {% for p in platforms %}
            <option value="{{ p.name }}"
                {% if p.name == platform_filter %}selected{% endif %}>
                {{ p.name }}
            </option>
        {% endfor %}

    </select>

    <button type="submit" class="add-btn">Search 🔍</button>
    <a href="{{ url_for('main.home') }}" style = "font-size: 30px;" title="Clear filters">🔄</a>
</form>

{% if content %}
    {% for c in content %}
    <div class="Content {% if c.is_completed %}done{%endif%}">
        <h3>{{c.id}} : {{c.platform.name}} </h3>
        {% if c.rating %}
            <p>Rating : <strong>{{c.rating}}</strong></p>
            {% endif %}

        {% if c.difficulty %}
        <p>Difficulty :
            {% if c.difficulty == "Easy" %}
                <span class="diff easy">Easy</span>
            {% elif c.difficulty == "Medium" %}
                <span class="diff medium">Medium</span>
            {% elif c.difficulty == "Hard" %}
                <span class="diff hard">Hard</span>
            {% endif %}
            </p>
            {% endif %}
        <p>Question number : <strong>{{c.ques_no}}</strong></p>

        <div class="action-container">
            <div class="left-btns">
                <a href="{{url_for('main.edit_ques' , id = c.id)}}" class="edit-btn" > Edit ✏️</a>
                <button 
                    class="delete-btn" 
                    data-id="{{ c.id }}"
                    onclick="handleDelete(this)"
                >Delete ❌</button>
            </div>

            <div class="right-btns">
                    <button 
                        class="icon-btn complete-btn" 
                        data-id="{{ c.id }}"
                        title="Mark Completed"
                    >
                        {% if c.is_completed %} 🟢 {% else %} 🔴 {% endif %}
                    </button>

                    <button 
                        class="icon-btn fav-btn" 
                        data-id="{{ c.id }}"
                        title="Mark Favorite"
                    >
                        {% if c.is_fav %} 💝 {% else %} 🩶 {% endif %}
                    </button>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<p> No problems registered yet 🥲 </p>
{% endif %}

    <div class="pagination">

        {% if content.has_prev %}
        <a href="{{ url_for('main.home', page=content.prev_num) }}">
        ⬅ Previous
        </a>
        {% endif %}

        <span>Page {{ content.page }} of {{ content.pages }}</span>

        {% if content.has_next %}
        <a href="{{ url_for('main.home', page=content.next_num) }}">
        Next ➡</a>
        {% endif %}

    </div>

    <script>

// FAVORITE TOGGLE
document.querySelectorAll(".fav-btn").forEach(btn => {
    btn.addEventListener("click", () => handleFavorite(btn));
});


// COMPLETED TOGGLE
document.querySelectorAll(".complete-btn").forEach(btn =>{
    btn.addEventListener("click" , () => handleComplete(btn));
});

</script>

{% endblock %}

